{% extends "layout" %}

{% block title %}Покупка раба{% endblock %}
{% block header %}Покупка раба{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-3">
            <h4>Информация о рабе</h4>
            {{ include('slave_panel', {slave: slave}) }}
        </div>
        <div class="col-xs-9">
            {% if notNow %}
                <h4>Этот раб уже забронирован для аренды</h4>
                <div class="alert alert-info" role="alert">
                    <p>К сожалению, другие господа уже забронировали {{ slave.nickname }} для своих работ.</p>
                    <p>Последние : <h4><span class="label label-info">{{ freeTime.format('d F Y в H:i') }}</span></h4></p>
                    <p>Сразу после этого вы сможете забрать {{ slave.gender ? 'его' : 'ее' }} в полное владение.</p>
                </div>
            {% else %}
                <h4>Вы можете купить этого раба прямо сейчас</h4>
            {% endif %}
            {% for error in errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            <form method="post">
                <div class="form-group">
                    <label for="client">Укажите свое полное имя</label>
                    <input type="text" class="form-control" id="client" placeholder="Глоин, сын Троина" name="client" value="{{ values.client }}">
                </div>
                <div class="form-group">
                    <label for="currency">Чем хотите платить</label>
                    <select class="form-control" id="currency" name="currency" onchange="script.updateCost(this)">
                        {% for key,currency in currencyRate %}
                        <option value="{{ key }}"
                                data-count="{{ currency.count }}"
                                data-rate="{{ currency.rate }}"
                                data-abbreviation="{{ currency.abbreviation }}"
                                {% if values.currency == key %}selected{% endif %}>
                            {{ currency.name }} ({{ currency.count }}:{{ currency.rate }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <h2>Цена: <span class="label label-primary __cost" data-value="{{ slave.cost }}">{{ slave.cost|number_format(0, ',', ' ') }} зол.</span></h2>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Купить</button>
            </form>
        </div>
    </div>
{% endblock %}