{% extends "layout" %}

{% block title %}{{ type == 'buy' ? 'Покупка' : 'Аренда' }} раба{% endblock %}
{% block header %}{{ type == 'buy' ? 'Покупка' : 'Аренда' }} раба{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-3">
            <h4>Информация о рабе</h4>
            {{ include('slave_panel', {slave: slave}) }}
        </div>
        <div class="col-xs-9">
            <h4>Информация о заказе</h4>
            <dl class="dl-horizontal">
                <dt>Ваше имя</dt><dd>{{ order.client }}</dd>
                <dt>Раб</dt><dd>{{ slave.nickname }}</dd>
                <dt>Тип операции</dt><dd>{{ type == 'buy' ? 'Покупка' : 'Аренда' }}</dd>
                {% if type == 'rent' %}
                    <dt>Начало аренды</dt><dd>{{ order.date_start.format('d.m.Y H:i') }}</dd>
                    <dt>Окончание аренды</dt><dd>{{ order.date_end.format('d.m.Y H:i') }}</dd>
                    <dt>Рабочих часов</dt><dd>{{ order.work_hours }}</dd>
                    <dt>Цена</dt><dd>{{ slave.rental_rate|number_format(0, ',', ' ') }} зол./час</dd>
                {% endif %}
                <dt>Стоимость</dt><dd>{{ order.cost|number_format(0, ',', ' ') }} зол.</dd>
                <dt>Стоимость в валюте</dt><dd>{{ order.user_cost|number_format(0, ',', ' ') }} {{ currencyRate.abbreviation }}</dd>
            </dl>
            <a class="btn btn-default" href="/{{ type }}/{{ slave.id }}">Назад</a>
            <a class="btn btn-success" href="/{{ type }}/{{ slave.id }}/{{ type }}">Подтвердить</a>
        </div>
    </div>
{% endblock %}