{% extends "layout" %}

{% block title %}Список{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-3">
            <h4>Категории</h4>
            {{ include("menu", {items: categories, active: branchActive}) }}
        </div>
        <div class="col-xs-9">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Кличка</th>
                    <th>Пол</th>
                    <th>Возраст</th>
                    <th>Вес, кг</th>
                    <th>Цвет кожи</th>
                    <th>Где пойман/выращен</th>
                    <th>Описание</th>
                    <th>Ставка аренды, зол./час</th>
                    <th>Стоимость, зол.</th>
                    <th>Категории</th>
                </tr>
                </thead>
                <tbody>
                {% for slave in slaves %}
                    <tr>
                        <td>
                            <a href="/buy/{{ slave.id }}">Купить</a>
                            <a href="/rent/{{ slave.id }}">Аренда</a>
                        </td>
                        <td>{{ slave.nickname }}</td>
                        <td>{{ slave.gender ? 'М' : 'Ж' }}</td>
                        <td>{{ slave.birthday.diffInYears() }}</td>
                        <td>{{ slave.weight }}</td>
                        <td>{{ slave.getSkinColor() }}</td>
                        <td>{{ slave.birthplace }}</td>
                        <td>{{ slave.description }}</td>
                        <td>{{ slave.rental_rate|number_format(0, ',', ' ') }}</td>
                        <td>{{ slave.cost|number_format(0, ',', ' ') }}</td>
                        <td>
                            {% for category in slave.categories %}
                                <a href="/category/{{ category.id }}">{{ category.name }}</a>{{ loop.last ? '' : ', ' }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}