<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Кусры валют{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ elixir('css/all.css') }}">
</head>
<body>
<header class="container-fluid">
    <h1>Биржа рабов <small>{% block header %}{% endblock %}</small></h1>
</header>
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>
<footer class="container-fluid">
    {% block footer %}
        &copy; Copyright 2017 by Pavel Babushkin.
    {% endblock %}
</footer>

<script type="text/javascript" src="{{ elixir('js/all.js') }}"></script>

</body>
</html>