<ul class="menu">
    {% for item in items %}
        <li {% if item.id in active %}class="active"{% endif %}>
            <a href="/category/{{ item.id }}">{{ item.name }}</a>
            {% if item.children().count() %}
                {{ include("menu", {items: item.children().get()}) }}
            {% endif %}
        </li>
    {% endfor %}
</ul>