{% extends "layout" %}

{% block title %}Аренда раба{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-3">
            <h4>Информация о рабе</h4>
            {{ include('slave_panel', {slave: slave}) }}
        </div>
        <div class="col-xs-9">
            <h4>Ближайшее свободное время: {{ freeTime.format('d F Y с H:i') }}</h4>
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            <form method="post">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="date_start">Начало аренды</label>
                            <input type="text" class="form-control datetimepicker" id="date_start" placeholder="" name="date_start" value="{{ values.date_start }}">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="date_end">Окончание аренды</label>
                            <input type="text" class="form-control datetimepicker" id="date_end" placeholder="" name="date_end" value="{{ values.date_end }}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="client">Укажите свое полное имя</label>
                    <input type="text" class="form-control" id="client" placeholder="Глоин, сын Троина" name="client" value="{{ values.client }}">
                </div>
                <div class="form-group">
                    <label for="currency">Чем хотите платить</label>
                    <select class="form-control" id="currency" name="currency">
                        {% for key,currency in currencyRate %}
                            <option value="{{ key }}"
                                    data-count="{{ currency.count }}"
                                    data-rate="{{ currency.rate }}"
                                    data-abbreviation="{{ currency.abbreviation }}"
                                    {% if values.currency == key %}selected{% endif %}>
                                {{ currency.name }} ({{ currency.count }}:{{ currency.rate }})</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Забронировать</button>
            </form>
        </div>
    </div>
{% endblock %}