<dl class="dl-horizontal">
    <dt>Кличка</dt><dd>{{ slave.nickname }}</dd>
    <dt>Пол</dt><dd>{{ slave.gender ? 'Муж' : 'Жен' }}</dd>
    <dt>Возраст</dt><dd>{{ slave.birthday.diffInYears() }}</dd>
    <dt>Вес</dt><dd>{{ slave.weight }} кг</dd>
    <dt>Цвет кожи</dt><dd>{{ slave.getSkinColor() }}</dd>
    <dt>Где пойман/выращен</dt><dd>{{ slave.birthplace }}</dd>
    <dt>Описание</dt><dd>{{ slave.description }}</dd>
    <dt>Ставка аренды</dt><dd>{{ slave.rental_rate|number_format(0, ',', ' ') }} зол./час</dd>
    <dt>Стоимость</dt><dd>{{ slave.cost|number_format(0, ',', ' ') }} зол.</dd>
    <dt>Категории</dt><dd>{% for category in slave.categories %}
            <a href="/category/{{ category.id }}">{{ category.name }}</a>{{ loop.last ? '' : ', ' }}
        {% endfor %}</dd>
</dl>