{% extends "layout" %}

{% block title %}Покупка раба{% endblock %}
{% block header %}Покупка раба{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-3">
            <h4>Информация о рабе</h4>
            {{ include('slave_panel', {slave: slave}) }}
        </div>
        <div class="col-xs-9">
            <div class="alert alert-success">Вы успешно {% if type == 'buy' %}купили{% else %}арендовали{% endif %} раба. Пожалуйста, не забудьте оплатить долговую расписку!</div>
        </div>
    </div>
{% endblock %}